<head>
  <link rel="stylesheet" href="/style/navbar/header.css" />
</head>
<header>
  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__items"><a href="/">Home</a></li>
      <li class="nav__items"><a href="/items">Items</a></li>
      <li class="nav__items"><a href="/categories">Category</a></li>
      <li class="nav__items"><a href="">Something Else</a></li>
    </ul>
  </nav>
</header>
