<header>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/items">Items</a></li>
      <li><a href="/categories">Category</a></li>
      <li><a href="">Something Else</a></li>
    </ul>
  </nav>
</header>
